<button (click)="getData()">Get Data</button>
<input class="data-input" *ngFor="let item of items; let i = index" type="text" value="{{ item.message }}" readonly>

<button (click)="addData()">addData</button>
<input class="data-input" *ngFor="let item of items; let i = index" type="text" value="{{ item.message }}" readonly>
